# **Space X  Falcon 9 First Stage Landing Prediction**

## Objectives

Perform exploratory  Data Analysis and determine Training Labels

*   Exploratory Data Analysis
*   Determine Training Labels

***

## **Import Libraries and Define Functions**

In [15]:
import pandas as pd
import numpy as np

### **Data Analysis**

In [16]:
# look at the data
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Identify and calculate the percentage of the missing values in each attribute.

In [17]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Identify which columns are numerical and categorical:

In [18]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### **TASK 1: Calculate the number of launches on each site**

In [30]:
df['LaunchSite'].unique()

array(['CCAFS SLC 40', 'VAFB SLC 4E', 'KSC LC 39A'], dtype=object)

In [29]:
df['LaunchSite'].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

Each launch aims to an dedicated orbit, and here are some common orbit types:

*  **EO:** A Low Earth Orbit (LEO) is an Earth-centered orbit with an altitude of up to 2,000 km (1,200 mi) or with at least 11.25 periods per day and an eccentricity less than 0.25. The majority of human-made objects in space can be found in LEO.

*  **VLEO:** Very Low Earth Orbits (VLEO) are defined as orbits with a mean altitude below 450 km, offering benefits to Earth observation satellites due to their proximity to the observed area.

*  **GTO:** A geosynchronous orbit is a high Earth orbit allowing satellites to match Earth's rotation, positioned 22,236 miles (35,786 kilometers) above the equator. This orbit is valuable for weather monitoring, communications, and surveillance, as the satellite appears to remain stationary over a single longitude.

*  **SSO (or SO):** A Sun-synchronous orbit, also known as a heliosynchronous orbit, is a nearly polar orbit around a planet where the satellite passes over any given point of the planet's surface at the same local mean solar time.

*  **ES-L1:** Lagrange points are locations where the gravitational forces of two large bodies cancel out, allowing a small object in orbit to remain in equilibrium relative to the large bodies' center of mass. L1 is one such point between the Sun and Earth.

*  **HEO:** A highly elliptical orbit is an elliptical orbit with high eccentricity, typically referring to an orbit around Earth.

*  **ISS:** The International Space Station (ISS) is a modular space station in low Earth orbit, resulting from a collaboration between five participating space agencies: NASA (USA), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada).

*  **MEO:** Medium Earth Orbits range in altitude from 2,000 km (1,200 mi) to just below geosynchronous orbit at 35,786 km (22,236 mi), often situated at around 20,200 km (12,600 mi) or 20,650 km (12,830 mi) with a 12-hour orbital period.

*  **HEO:** High Earth Orbits are geocentric orbits located above the altitude of geosynchronous orbit (35,786 km or 22,236 mi).

*  **GEO:** A Geostationary Orbit is a circular geosynchronous orbit at an altitude of 35,786 km (22,236 mi) above Earth's equator, following the direction of Earth's rotation.

*  **PO:** Polar Orbit is a type of orbit in which a satellite passes above or nearly above both poles of the celestial body being orbited, such as Earth.

### **TASK 2: Calculate the number and occurrence of each orbit**

In [31]:
df['Orbit'].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

### **TASK 3: Calculate the number and Occurence of Mission Outcome per orbit type**

Use the method <code>.value_counts()</code> on the column <code>Outcome</code> to determine the number of <code>landing_outcomes</code>.Then assign it to a variable landing_outcomes.

In [32]:
landing_outcomes = df['Outcome'].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

**True Ocean** signifies a successful mission landing in a designated ocean region, while **False Ocean** indicates an unsuccessful landing in that region. **True RTLS** represents a successful ground pad landing, and **False RTLS** denotes an unsuccessful one. Similarly, **True ASDS** corresponds to a successful drone ship landing, while **False ASDS** implies a failed attempt. The terms **None ASDS** and **None None** both represent landing failures.

In [22]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

We create a set of outcomes where the second stage did not land successfully:

In [23]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### **TASK 4: Create a landing outcome label from Outcome column**

Construct a list for the variable **'landing_class'**, where each element is either zero or one. If the corresponding row in **'Outcome'** belongs to the set **'bad_outcome'**, the element should be zero; otherwise, it should be one.

In [33]:
landing_class = []

for key, value in df['Outcome'].items():
    if value in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

This variable signifies the classification variable corresponding to the result of each launch. A value of zero indicates an unsuccessful first stage landing, while a value of one denotes a successful first stage landing.

In [25]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [26]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

We can use the following line of code to determine  the success rate:

In [27]:
df["Class"].mean()

0.6666666666666666

In [28]:
df.to_csv("DataWrangling.csv", index=False)

We can now export it to a CSV for the next section, but to make the answers consistent, in the next lab we will provide data in a pre-selected date range.